// Masonry
.gallery-grid-item
  width: calc(50% - 1rem)
  overflow: hidden
  margin: 0 .5rem 1rem
  &:hover
    cursor: pointer
  @media #{$large-up}
    width: calc(33.33% - 2rem)
  & > img
    width: 100%
    display: block
    -webkit-transition: all 0.2s linear
    -moz-transition: all 0.2s linear
    -o-transition: all 0.2s linear
    -ms-transition: all 0.2s linear
    transition: all 0.2s linear
    &:hover
      -webkit-transform: scale(1.1,1.1)
      -moz-transform: scale(1.1,1.1)
      -o-transform: scale(1.1,1.1)
      -ms-transform: scale(1.1,1.1)
      transform: scale(1.1,1.1)

// lightGallery

