.page-navigation
  text-align: center
  a
    background: $dark-primary
    color: $light-primary
    padding: .8em
    border-radius: 1em
    +vendor-prefix(transition, background 0.5s)
    white-space: nowrap
    line-height: 4em
    /* IE */
    &:hover
      background: $color-primary


